.container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    background-image: url('../../../../public/imaga.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.slide{
    height: 280px;
    list-style-type: none;
    text-decoration: none;
}
.opcoes{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.alinhas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
}
.linha{
    width: 100%;
    background-color: black;
    height: 2px;
}
.pointer{
    cursor: pointer;
}
.imag1{
    width: 600px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
    background-position: center;
    background-image: url('/black.jpg');
}
.imag2{
    width: 600px;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
    background-position: center;
    background-image: url('/out.png');
}