
.container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    background-color: rgb(255, 255, 255);
   
}
.slide{
    width: 100%;
    list-style-type: none;
    text-decoration: none;
}
.opcoes{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.alinhas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
}
.linha{
    width: 100%;
    background-color: black;
    height: 2px;
}
.pointer{
    cursor: pointer;
}
.imag1{
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-image: url('/black.jpg');
}
.imag2{
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-image: url('/out.png');
    background-attachment: fixed;
}
.produtos{
    background-color: transparent;
   
}
.acre{
    height: 2000px;
}
.pointer2{
    cursor: pointer;
    margin-right: 20px;
}