.container{
    width: 100vw;
    height: 100vh;
}
.loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carrega{
    color: black;
    font-size: 15;
}
.areaDeExibicao{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}
.imgProduto{
    width: 40%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Border{
    width: 75%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #B8B8B8;
    border-radius: 5px;
}
.title{
    width: 100%;
}
.desc{
    font-size: 15px;
}
.preco{
    margin-top: 40px;
}
.acinza{
    height: 20px;
    color: #8E8E8E;
}
.corta{
    width: 105px;
    height: 1px;
    background-color: #AFAFAF;
    position: absolute;
    margin-top: 10px;
}
.precoVenda{
    display: flex;
    flex-direction: row;
    gap:7px;
    align-items: center;
    height: 32px;
}
.alaranja{
    color:#FF8B00;
}
.laranja{
    color:#FF8B00;
    font-weight: bold;
    font-size: 27px;
}
.infos{
    display: flex;
    flex-direction: row;
    width: 260px;
    font-weight: bold;
    gap: 30px;
}
.infosGerais{
    margin-top: 40px;
    width: 350px;
    padding-left: 10px;
}
.sabor,.marca{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}
.spaceLeft{
    margin-left: 15px;
}
.black{
    background-color: black;
    color: #ffffff;
    height: 25px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 13px;
}
.carrinho{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.borda{
    width: 80%;
    height: 58%;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
}
.quantidade{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantes{
    width: 80%;
    height: 40px;
    font-size: 17px;
    background-color: #E2E2E2;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}
.divCarrinho{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inserirCarrinho{
    width: 80%;
    height: 40px;
    font-size: 17px;
    background-color: #266500;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.inserirCarrinho:hover{
    background-color: #399600;

}
.titleProduct{
    font-size: 20px;
    font-weight: bold;
}