.vantagensContainer{
    width: 100%;
    height: 360px;
    margin: 40px 0px 40px 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.section{
    width: 24.2%;
    height: 100%;
}
.imgFull{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    filter: brightness(0.3) ;
}
.greenCheck{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #d3d3d3;
    margin: 16px 40px 0 0;
}
.vantagensText{
    position: relative;
    bottom: 47%
}