.centralizador{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width:40%;
    height:90%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}
.logo{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: baseline;
    border-radius: 10px;
}
.cadastro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.forme{
    margin-top: 40px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.alingButton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}
.labelInput{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.label{
    font-size: 17px;
    font-weight: bold;
    margin: 6px;
}
.input{
    width: 100%;
    height: 32px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 7px;
    outline: none;
    font-size: 16px;
    padding-left: 7px;
}
.botao{
    width: 200px;
    height: 40px;
    background-color: #FF4D00;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
}
.botao:hover{
    background-color: #ff601d;
}
.logar{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
.textLogar{
    display: inline-flex;
    gap: 3px;
}
.hovered:hover{
    color: #ff9567;
}
