.title{
    text-align: center;
}
.forme{
    width: 100%;
    height: 435px;
    display: flex;
    flex-direction: row;
    background-color: #F9F9F9;
}
.primaMetade{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.segunMetade{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.selectImg{
    display: none;
}

.selectText{
    z-index: 2;
    position: fixed;
}
.imagePreview {
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: scale(1)
}

.labelImg{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    cursor: pointer;
    overflow: hidden;
    font-weight: bold;
    width: 25%;
    height: 50%;
  
}
.inputImag{
    display: none;
}
.inputNP{
    height: 38px;
    font-size: 15px;
}
.inputDesc{
    height: 50px;
    color: black;
    font-weight:500;
    font-size: 15px;
}
.inputNumbers{
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #DCDCDC;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 15px;
}
.inputMarSab{
    height: 32px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #DCDCDC;
    padding-left: 5px;
    font-size: 15px;

}
.moneyInput{
    background-color: #DCDCDC;
    border: none;
    outline: none;
    height: 30px;
    width: 60%;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 15px;
}
.backgroundInputs{
    width: 80%;
    border: none;
    background-color: #DCDCDC;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 4px ;
    font-size: 15px;
}
.labelPadrao{
    font-weight: bold;
    margin:5px;
}
.labelPadraoOut{
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 5px;
}
.padrao{
    display: flex;
    flex-direction: column;
}
.alingPadrao{
    display: flex;
    flex-direction: row;
}
.Gap{
    display: flex;
    flex-direction: column;
    width: 27%;
    gap: 5px;
}
.dinheiros{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.simbolDinheiro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 7px;
    background-color: #DCDCDC;
    color: #42A307;
    font-weight: bold;
}
.optionsTipo{
    height: 33px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #DCDCDC;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 0px;
}
.a{
    display: flex;
    flex-direction: column;
    width: 47%;
}
.content2{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    gap: 60px;
}
.divButton{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submitButton{
    height: 50px;
    width: 250px;
    background-color: #FF4D00;
    border: none;
    color: #ffffff;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}
.submitButton:hover{
    background-color: #ff621f;

}