.title{
    margin: 30px;
}
.forme{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
}
.primaMetade{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.segunMetade{
    width: 50%;
    height: 100%;
}
.selectImg{
    display: none;
}
.labels {
    width: 50%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden;
}
.selectText{
    z-index: 2;
    position: fixed;
}
.imagePreview {
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: scale(1)
   
}