.centralizador{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width:40%;
    height:70%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.logo{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding-top: 10px;
}
.forme{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}
/* .inputArea{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.labelInput{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.coisa{
    width: 90%;
}
.label{
    font-size: 17px;
    font-weight: bold;
    margin: 6px;
    text-align: end;
} 
.input{
    width: 90%;
    height: 32px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 7px;
    outline: none;
    font-size: 16px;
    padding-left: 7px;
} */
 .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
 }
.botao{
    width: 200px;
    height: 40px;
    /* background-color: #FF4D00;
    border-radius: 10px;  
    border: none;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer; */
}
/* .botao:hover{
    background-color: #ff601d;
} */
.afasta{
    margin-top: 50px;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
  }
.notCount{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.colore{
    color: #FF4D00;
    font-weight: bold;
}
.link{
    text-decoration: none;
}