.drawer {
    position: fixed;
    top: 0;
    right: -550px; 
    width: 250px;
    height: 100%;
    background-color: #000000;
    padding: 20px;
    transition: right 1s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
  
  .drawer.open {
    right: 0; 
  }
  
  .drawer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
  }
  
  .drawer ul li {
    margin: 20px 0;
  }
  
  .drawer ul li a {
    color: white;
    text-decoration: none;
  }
  
  .menuButton {    
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
  }
  .voltarMenu{
    margin-bottom: 50px;
  }
  .fecharMenu{
    border: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: antiquewhite;
  }
  .fecharMenu:hover{
    background-color: #ff8800;
  }
  .afastaMenu{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hoverType:hover{
    color: #777777;
  }